.Navbar {
    background: rgb(245, 245, 233);
    color: rgb(172, 170, 170);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.Navbar-header {
    font-family: 'Roboto', sans-serif;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.searchbar {
    box-sizing: border-box;
    border-radius: 6px;
    border: .1px;
    padding: 0.5rem 1rem;
    width: 40%;
    background-color: rgb(209, 207, 207);
}